/*table.css */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.table a:hover {
    color: rgb(252, 97, 97);
}