/*table.css */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.table a:hover {
    color: rgb(252, 97, 97);
}

.table-with-margin {
    margin-right: 30% !important;
    width: calc(100% - 30%) !important;
}

.table th {
    position: relative;
    padding-right: 20px;
}

.table th span {
    position: absolute;
    right: 5px;
}

.table th[aria-sort='asc'] {
    background-color: #f0f0f0;
}

.table th[aria-sort='desc'] {
    background-color: #f0f0f0;
}

.table th[aria-sort='none'] {
    background-color: transparent;
}